h1 {
  text-align: center;
}

#snapshot-img {
  height: 100%;
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  background: white;
}

@keyframes blinking {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  51% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

.mix-blink > img{
  animation: blinking 0.5s ease-in-out infinite;
}

.mix-darken > img {
  mix-blend-mode: darken;
}

.mix-blend > img {
  opacity: 0.5
}

.mix-reference > img {
  opacity: 1.0
}

.mix-video > img {
  opacity: 0.0
}

.render-value > video, 
.render-value > img {
  filter: saturate(0%);
}

.render-normal{
}

.render-mirror > video, 
.render-mirror > img{
  transform: scaleX(-1);
}


#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

video {
  width: 100%;
  background: rgba(0,0,0,0.2);
}

.mix-options {
  position: relative;
  left: 0px;
  top: 0px;
}

.controls-top {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;

}

.controls-bot {
  position: absolute;
  bottom: 20px;
  display: flex;
}

.controls-top > button {
  width: 10em;
  height: 10em;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;

  &:hover {
    svg {
      color: white !important;
    }
  }
}


@media (min-width: 300px) and (max-width: 400px) {
  .controls-top {
    flex-direction: column;

    button {
      margin: 5px 0 !important;
    }
  }
}

.controls-top > button > svg {
  height: 20px;
  width: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.controls-top > button.play {
  border: 2px solid #D2002E;
}

.controls-top > button.play > svg{
    color: #D2002E;
}

.controls-top button.pause {
  border: 2px solid #008496;
}

.controls-top button.pause > svg {
    color: #008496;
}

.controls-top button.snapshot {
  border: 2px solid #00B541;
}

.controls-top button.snapshot > svg {
    color: #00B541;
}

.controls-top > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;

  &:hover {
    svg {
      color: white;
    }
  }
}

