h1 {
  text-align: center;
  color: #b9b9b9;
}

body {
  background-color: #121212;
}

#splash>img {
  width: 100%;
}

#snapshot-img {
  position: absolute;
  object-fit: contain;
  width: 100vw;
  height: 90vh;
}


video {
  background: rgba(0, 0, 0, 0.2);

  position: absolute;
  object-fit: contain;
  width: 100vw;
  height: 90vh;
}

#controls-bot>button>svg {
  height: 40px;
  width: 36px;
}

.mix-options {}

/* refence picker */
#reference {
  max-width: 100vw;
  max-height: 100vh;
}

#ref-preview {
  object-fit: contain;
  width: 100vw;
  height: 90vh;
}


.button-flex {
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  gap: 1em
}

.top-ui {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #121212f0;
}

.bottom-ui {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #121212f0;
}

/* blending styles */

@keyframes blinking {
  0% {
    opacity: 0.05;
  }

  50% {
    opacity: 0.05;
  }

  51% {
    opacity: 0.95;
  }

  100% {
    opacity: 0.95;
  }
}

.mix-blink>img {
  animation: blinking 0.8s ease-in-out infinite;
}

.mix-darken>img {
  mix-blend-mode: darken;
}

.mix-blend>img {
  opacity: 0.5
}

.mix-reference>img {
  opacity: 1.0
}

.mix-video>img {
  opacity: 0.0
}

.render-value>video,
.render-value>img {
  filter: saturate(0%);
}

.render-normal {}

.render-mirror>video,
.render-mirror>img {
  transform: scaleX(-1);
}