
h1 {
  margin-top: 0.2em;
  text-align: center;
  color: #b9b9b9;
}

body {
  background-color: #121212;
}

#snapshot-img {
  height: 100%;
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  background: white;
}

#snapshot-img.anim-zoom{
  animation: zoom 0.1s ease-in 1;
}

@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes blinking {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  51% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

.mix-blink > img{
  animation: blinking 0.5s ease-in-out infinite;
}

.mix-darken > img {
  mix-blend-mode: darken;
}

.mix-blend > img {
  opacity: 0.5
}

.mix-reference > img {
  opacity: 1.0
}

.mix-video > img {
  opacity: 0.0
}

.render-value > video, 
.render-value > img {
  filter: saturate(0%);
}

.render-normal{
}

.render-mirror > video, 
.render-mirror > img{
  transform: scaleX(-1);
}


#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

video {
  width: 100%;
  background: rgba(0,0,0,0.2);
}

.mix-options {
  position: relative;
  left: 0px;
  top: 0px;
}

.controls-top {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;

}

.controls-bot {
  position: absolute;
  bottom: 20px;
  display: flex;
}

.controls-top > button {
  width: 5em;
  height: 5em;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;

  &:focus {
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
  }
}

.controls-top > button:active {
  transform: scale(1.05, 1.05);
}

@media (min-width: 300px) and (max-width: 400px) {
  .controls-top {
    flex-direction: column;

    button {
      margin: 5px 0 !important;
    }
  }
}

.controls-top > button > svg {
  height: 20px;
  width: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.controls-top > button.play {
  border: 2px solid #d7005f;
  background: #d7005f20;
}

.controls-top > button.play:hover {
    background: #d7005f50;
}

.controls-top > button.play > svg{
  color: #d7005f;
}

.controls-top button.pause {
  border: 2px solid #008496;
  background: #00849620;
}

.controls-top button.pause:hover {
    background: #00849650;
}

.controls-top button.pause > svg {
    color: #008496;
}

.controls-top button.snapshot {
  border: 2px solid #61b206;
  background: #61b20620;
}
.controls-top button.snapshot:hover {
    background: #61b20650;
}

.controls-top button.snapshot > svg {
    color: #61b206;
}


